{% extends "index.html" %}

{% block content %}
    <!-- Page Header -->


<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>YoloDigi</h1>
          <span class="subheading">DIY Projects / Tips / Daily Hacks / Etc.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in object_list %}
          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
            </a>
              <h3 class="post-subtitle">{{ post.heading }}</h3>
              <p class="post-body">
              <article>
                {% autoescape off %}
                  {{ post.text|safe|truncatechars_html:250 }}
                {% endautoescape %}
            </article>
              </p>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.published_date }}</p>
          </div>
          <hr>
        {% endfor %}


        </div>
      </div>
 

    
            
          
    <div class="pagination" >
    <span class="step-links mx-auto">
        {% if object_list.has_previous %}
            <a class="btn btn-primary" href="?{{ page_request_var }}={{ object_list.previous_page_number }}">Previous</a>
        {% endif %}

        <strong class="current text-center">

            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </strong>

        {% if object_list.has_next %}
            <a class="btn btn-primary" href="?{{ page_request_var }}={{ object_list.next_page_number }}">Next</a>
        {% endif %}
    </span>

</div>
</div>
<hr>
{% endblock %}
<!--           #### Need to convert to use on Image thats uploaded!! 
            <label id="id_image">
            <img src="{{ MEDIA_URL }}{{ p.image.url }}" width="200" height="100" title="{{ p.title }}">
            </label>
 -->
           <!-- Pager -->
<!--          
          1.)NEED a IF view is POST_LIST than show OLDER Link Else Not
          2.)Need IF a Post_DETAIL View than Layout CHanges Else Nots
            -->