<img border="1" data-original-height="1080" data-original-width="1080" height="200" src="https://4.bp.blogspot.com/-IJ2O1UB8mpg/WgIn8qhLQBI/AAAAAAAAEfo/BaVE7P1pBM8zBcBAHzMnqJ5giJLKteQUwCLcBGAs/s200/IMG_20170406_115818_673%2B%25281%2529.jpg" width="200"/><br />
<hr />
<div style="text-align:center;">
<a href="https://github.com/jmrlgg" imageanchor="1" >
    <img height="20 width="20" alt="@jmrl" border="0" src="https://assets-cdn.github.com/favicon.ico" title="jeremy's github"/>
</a>
<a href="https://twitter.com/jmrlgg" imageanchor="1" ">
    <img height="20 width="20" alt="@jmrl" border="0" src="https://yolodigi.com/imgs/twit.ico" title="jeremy's twitter"/>
</a>
<a href="https://facebook.com/jeremylmassey" imageanchor="1" ">
    <img width="20" width="20" alt="fb.me/jeremylmassey" border="0" src="https://yolodigi.com/imgs/fbook.ico" title="jeremys facebook"/>
</a>
<a href="https://github.com/jmrlgg" imageanchor="1" ">
    <img height="20 width="20" alt="tech and more jmrlgg" border="0" src="https://ssl.gstatic.com/images/branding/product/ico/google_plus_alldp.ico" title="jeremys google"/
    ></a>
</div>