
{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ MEDIA_URL }}{{ post.article_img.url }}')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading"> {{ post.heading }} </h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author }}</a>
                {% if post.published_date %}
                  <div class="date">
                    on {{ post.published_date }}
                  
                {% else %}
                    on  {{ post.created_date }}
                {% endif %}
                <!-- <img src="{{ MEDIA_URL }}{{ post.article_img.url }}" title="{{ post.title }}"> -->
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Edit
                </button>
            </a>
            {% endif %}
            <blockquote>{{ post.tags }}</blockquote>
              
            
            {% autoescape off %}
              {{ post.text|linebreaksbr }}
            {% endautoescape %}
            <hr width="50%">
            <div class="comment small">
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5">
            </div>

          </div>
        </div>
      </div>
    </article>

    <hr>
{% endblock %}